OLT_COMMAND_TIMEOUT_MS=15000
DB_HOST=10.255.255.10
DB_NAME=backupers
DB_USER=backupers
DB_PASS=
FTP_HOST=
FTP_PORT=10368
FTP_USER=backuprouter
FTP_PASS=
BACKUP_SCHEDULE_ENABLED=1
BACKUP_DAILY_TIME=20:00

DRIVE_API_KEY=
DRIVE_FOLDER_ID=
DRIVE_SOURCE_DIR=/home/backuprouter
UPLOAD_SCHEDULE_ENABLED=1
UPLOAD_DAILY_TIME=21:00